<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Add your other activities, providers, receivers, etc. here -->

    </application>

</manifest>
